#messages {
    position: relative;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}
#container {
    position: absolute;
    width: 1024px;
    left: -512px;
    top: 50px;
    margin-left: 50%;
}
p {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}
#msg_input {
    width: 500px;
    height: 200px;
    resize: none;
    margin-bottom: 30px;
}
#msg_output {
    width: 300px;
    height: 200px;
    position: relative;
    left: 50px;
}
#buttons {
    margin-top: 30px;
}